/* Config */
@import "./config/reset.css";
@import "./config/variables.css";
@import "./config/global.css";

/* Components */
@import "./components/header.css";
@import "./components/navigation-bar.css";

header section:nth-of-type(2) span {
  display: flex;
  align-items: center;
  border: 3px solid black;
  border-radius: 8px;
  font-weight: 600;
  font-size: 35px;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  word-break: keep-all;
}

main > form {
  width: 93%;
  height: 95%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-family: "GmarketSansMedium";
}

main > form > section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 96%;
  margin-right: 79px;
}

main > form section > span {
  text-align: center;
  font-size: 25px;
  word-spacing: 30px;
  letter-spacing: 2px;
}

main > form section article:not(:last-of-type) {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 5%;
}

main > form section > article:not(:nth-of-type(2)) input {
  font-size: 20px;
}

main > form section article input:focus {
  outline: none;
}

main > form section article:not(:nth-of-type(4)) input {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  width: 99%;
}

main > form section article:nth-of-type(2) input {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

main > form section article:nth-of-type(4) section {
  position: relative;
  width: 47%;
}

main > form section article:nth-of-type(4) section input {
  width: 98%;
  height: 89%;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

main > form section article:not(:nth-of-type(2)) div {
  background-color: black;
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0;
  transition: width 0.15s ease-in-out;
  border-radius: 3px;
}

main > form section article:not(:nth-of-type(2)) input:focus ~ div {
  width: 100%;
}

main
  > form
  section
  article:not(:nth-of-type(2))
  input:not(:placeholder-shown)
  ~ div {
  width: 100%;
}

main > form section article:not(:nth-of-type(2)) input:invalid ~ div {
  background-color: red;
}

main > form section article:nth-of-type(3) select {
  width: 47%;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

main > form section article:nth-of-type(3) select:focus {
  outline: none;
}

main > form section article:nth-of-type(4) input::-webkit-outer-spin-button,
main > form section article:nth-of-type(4) input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main > form section article:last-of-type {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7%;
}

main > form section article:last-of-type button {
  width: 30%;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: color 0.3s;
  font-size: 18px;
  font-family: "GmarketSansMedium";
}

main > form section article:last-of-type button:hover {
  color: white;
}

main > form section article:last-of-type button::after {
  background: black;
  content: "";
  position: absolute;
  z-index: -1;
}

main > form section article:last-of-type button::after {
  height: 100%;
  left: -80%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.3s;
  transform-origin: top left;
  width: 0;
}

main > form section article:last-of-type button:hover:after {
  height: 100%;
  width: 180%;
}
