/* Config */
@import "./config/reset.css";
@import "./config/variables.css";

body,
html {
  height: 100%;
  overflow: hidden;
}

body > div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body > div > video {
  object-fit: cover;
}
