header {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 13px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

header form {
  display: flex;
  gap: 10px;
}

header section:not(:nth-of-type(2)) article:hover {
  cursor: pointer;
}

header section:nth-of-type(1) {
  display: flex;
}

header section:nth-of-type(1) article:nth-of-type(1) {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
}

header section:nth-of-type(1) article:nth-of-type(1):hover {
  background-color: #e5e5e5;
}

header section:nth-of-type(1) article:nth-of-type(2) {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  border-radius: 8px;
  margin-left: 50px;
}

header section:nth-of-type(2) {
  display: flex;
  justify-content: center;
}

header section:nth-of-type(3) article {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 45px;
  margin-right: 50px;
}

header section:not(:nth-of-type(3)) article {
  padding: 13px;
}
