<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/add-recipe-page.css" />
    <link rel="shortcut icon" href="../martini-glass-solid.png" />
    <script
      src="https://kit.fontawesome.com/244f461546.js"
      crossorigin="anonymous"
    ></script>
    <title>CheersCraft</title>
  </head>
  <body>
    <header>
      <section>
        <label for="checkbox">
          <i class="fa-solid fa-bars"></i>
        </label>
        <input type="checkbox" id="checkbox" />
        <a href="../index.html">
          <span><i class="fa-solid fa-martini-glass"></i></span>
          <span>CheersCraft</span>
        </a>
      </section>
      <section>
        <span>수정하기</span>
      </section>
      <section>
        <article><i class="fa-solid fa-circle-user"></i></article>
      </section>
    </header>
    <main>
      <nav>
        <article>
          <a href="./review-page.html">
            <span><i class="fa-solid fa-bottle-droplet"></i></span>
            <span>Spirit</span>
          </a>
        </article>
        <article>
          <a href="./recipe-page.html">
            <span><i class="fa-solid fa-martini-glass-citrus"></i></span>
            <span>Cocktail</span>
          </a>
        </article>
      </nav>
      <nav>
        <section>
          <article></article>
          <article>
            <a href="./review-page.html">
              <i class="fa-solid fa-bottle-droplet"></i>
              <span>Spirit</span>
            </a>
          </article>
          <article>
            <a href="./recipe-page.html">
              <i class="fa-solid fa-martini-glass-citrus"></i>
              <span>Cocktail</span>
            </a>
          </article>
        </section>
        <section></section>
      </nav>
      <form action="./recipe-page.html">
        <section>
          <article>
            <input type="text" placeholder="Name" maxlength="30" />
            <div></div>
          </article>
          <article>
            <input type="file" accept="image/jpeg, image/png" />
            <div></div>
          </article>
          <article>
            <select name="spirit">
              <option value="">--Please choose a spirit--</option>
              <option value="whisky">위스키</option>
              <option value="brandy">브랜디</option>
              <option value="vodka">보드카</option>
              <option value="tequilla">데킬라</option>
              <option value="liqueur">리큐르</option>
              <option value="rum">럼</option>
              <option value="gin">진</option>
            </select>
          </article>
          <article>
            <input type="number" placeholder="Vol" max="100" min="1" />
            <div></div>
          </article>
          <article>
            <input type="text" placeholder="lngredients" maxlength="30" />
            <div></div>
          </article>
        </section>
        <section>
          <span>How to make</span>
          <article>
            <section>
              <input type="text" placeholder="First-step" maxlength="35" />
              <div></div>
            </section>
          </article>
          <article>
            <button>Edit</button>
          </article>
          <button><i class="fa-solid fa-plus"></i></button>
          <button><i class="fa-solid fa-minus"></i></button>
        </section>
      </form>
    </main>
    <script src="../js/auth.js"></script>
    <script src="../js/recipe/edit-recipe-page.js"></script>
    <script src="../js/recipe/recipe-add-input.js"></script>
    <script src="../js/recipe/recipe-validation-request.js"></script>
    <script src="../js/link-sign-in.js"></script>
  </body>
</html>
