<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/recipe-page.css" />
    <link rel="shortcut icon" href="/martini-glass-solid.png" />
    <script
      src="https://kit.fontawesome.com/244f461546.js"
      crossorigin="anonymous"
    ></script>
    <title>CheersCraft</title>
  </head>
  <body>
    <header>
      <section>
        <label for="checkbox">
          <i class="fa-solid fa-bars"></i>
        </label>
        <input type="checkbox" id="checkbox" />
        <a href="../index.html">
          <i class="fa-solid fa-martini-glass"></i>
          <span>CheersCraft</span>
        </a>
      </section>
      <section>
        <form>
          <select name="keyword">
            <option value="spirit">주종</option>
            <option value="name">이름</option>
            <option value="vol">도수</option>
          </select>
          <input type="text" placeholder="내용을 입력해주세요" required />
          <button>Search</button>
        </form>
      </section>
      <section>
        <article><i class="fa-solid fa-circle-user"></i></article>
      </section>
    </header>
    <main>
      <nav>
        <article>
          <a href="../index.html">
            <i class="fa-solid fa-bottle-droplet"></i>
            <span>Spirit</span>
          </a>
        </article>
        <article>
          <a href="./recipe-page.html">
            <i class="fa-solid fa-martini-glass-citrus"></i>
            <span>Cocktail</span>
          </a>
        </article>
      </nav>
      <nav>
        <section>
          <article></article>
          <article>
            <a href="../index.html">
              <i class="fa-solid fa-bottle-droplet"></i>
              <span>Spirit</span>
            </a>
          </article>
          <article>
            <a href="./recipe-page.html">
              <i class="fa-solid fa-martini-glass-citrus"></i>
              <span>Cocktail</span>
            </a>
          </article>
        </section>
        <section></section>
      </nav>
      <section>
        <button><i class="fa-solid fa-caret-left"></i></button>
        <article>
          <section>
            <!-- 페이징 레시피 리스트 -->
            <div>
              <img src="../test.jpg" />
              <button>Detail</button>
            </div>
            <div>
              <img src="../test.jpg" />
              <button>Detail</button>
            </div>
            <div>
              <img src="../test.jpg" />
              <button>Detail</button>
            </div>
            <div>
              <img src="../test.jpg" />
              <button>Detail</button>
            </div>
          </section>
          <section>
            <div>
              <img src="../test.jpg" />
              <button>Detail</button>
            </div>
            <div>
              <img src="../test.jpg" />
              <button>Detail</button>
            </div>
            <div>
              <img src="../test.jpg" />
              <button>Detail</button>
            </div>
            <div>
              <img src="../test.jpg" />
              <button>Detail</button>
            </div>
          </section>
        </article>
        <button><i class="fa-solid fa-caret-right"></i></button>
        <a href="./add-recipe-page.html"><i class="fa-solid fa-plus"></i></a>
      </section>
    </main>
    <script src="../js/recipe-page.js"></script>
  </body>
</html>
