<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/review-page.css" />
    <link rel="shortcut icon" href="../martini-glass-solid.png" />
    <script
      src="https://kit.fontawesome.com/244f461546.js"
      crossorigin="anonymous"
    ></script>
    <title>CheersCraft</title>
  </head>
  <body>
    <header>
      <section>
        <label for="checkbox">
          <i class="fa-solid fa-bars"></i>
        </label>
        <input type="checkbox" id="checkbox" />
        <a href="../index.html">
          <span><i class="fa-solid fa-martini-glass"></i></span>
          <span>CheersCraft</span>
        </a>
      </section>
      <section>
        <form>
          <select name="keyword">
            <option value="spirit">주종</option>
            <option value="name">이름</option>
            <option value="volup">도수: 이상</option>
            <option value="voldown">도수: 이하</option>
          </select>
          <input type="text" placeholder="내용을 입력해주세요" required />
          <button>Search</button>
        </form>
      </section>
      <section>
        <article></article>
      </section>
    </header>
    <main>
      <nav>
        <article>
          <a href="./review-page.html">
            <span><i class="fa-solid fa-bottle-droplet"></i></span>
            <span>Spirit</span>
          </a>
        </article>
        <article>
          <a href="./recipe-page.html">
            <span><i class="fa-solid fa-martini-glass-citrus"></i></span>
            <span>Cocktail</span>
          </a>
        </article>
      </nav>
      <nav>
        <section>
          <article></article>
          <article>
            <a href="./review-page.html">
              <i class="fa-solid fa-bottle-droplet"></i>
              <span>Spirit</span>
            </a>
          </article>
          <article>
            <a href="./recipe-page.html">
              <i class="fa-solid fa-martini-glass-citrus"></i>
              <span>Cocktail</span>
            </a>
          </article>
        </section>
        <section></section>
      </nav>
      <section>
        <article>
          <!-- 페이징 술 리스트 -->
          <section>
            <button><i class="fa-solid fa-caret-left"></i></button>
          </section>
          <section></section>
          <section>
            <button><i class="fa-solid fa-caret-right"></i></button>
          </section>
        </article>
        <article>
          <!-- 추가버튼 -->
          <span>당신의 술 이야기를 들려주세요</span>
          <a href="./add-review-page.html"><button>이야기 추가하기</button></a>
        </article>
      </section>
    </main>
    <script src="../js/review/review-page.js"></script>
    <script src="../js/link-sign-in.js"></script>
  </body>
</html>
