<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/sign-in.css" />
    <link rel="shortcut icon" href="../martini-glass-solid.png" />
    <script
      src="https://kit.fontawesome.com/244f461546.js"
      crossorigin="anonymous"
    ></script>
    <title>CheersCraft</title>
  </head>
  <body>
    <header>
      <section>
        <label for="checkbox">
          <i class="fa-solid fa-bars"></i>
        </label>
        <input type="checkbox" id="checkbox" />
        <a href="../index.html">
          <span><i class="fa-solid fa-martini-glass"></i></span>
          <span>CheersCraft</span>
        </a>
      </section>
      <section>
        <span>로그인</span>
      </section>
      <section>
        <article><i class="fa-solid fa-circle-user"></i></article>
      </section>
    </header>
    <main>
      <nav>
        <article>
          <a href="./review-page.html">
            <span><i class="fa-solid fa-bottle-droplet"></i></span>
            <span>Spirit</span>
          </a>
        </article>
        <article>
          <a href="./recipe-page.html">
            <span><i class="fa-solid fa-martini-glass-citrus"></i></span>
            <span>Cocktail</span>
          </a>
        </article>
      </nav>
      <nav>
        <section>
          <article></article>
          <article>
            <a href="./review-page.html">
              <i class="fa-solid fa-bottle-droplet"></i>
              <span>Spirit</span>
            </a>
          </article>
          <article>
            <a href="./recipe-page.html">
              <i class="fa-solid fa-martini-glass-citrus"></i>
              <span>Cocktail</span>
            </a>
          </article>
        </section>
        <section></section>
      </nav>
      <form method="post">
        <section>
          <article>
            <span><i class="fa-solid fa-martini-glass"></i></span>
            <span>CheersCraft</span>
          </article>
          <article>
            <input type="email" required placeholder="Email" />
            <div></div>
          </article>
          <article>
            <input
              type="password"
              required
              maxlength="15"
              placeholder="Password"
            />
            <div></div>
          </article>
          <button>Sign in</button>
        </section>
        <section>
          <button>Sign up</button>
        </section>
      </form>
    </main>
    <script src="../js/sign-in.js"></script>
    <script src="../js/link-sign-in.js"></script>
  </body>
</html>
